<main class="main">
  <form [formGroup]="realisatorSearchForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="fill" class="form__input">
      <mat-label>Réalisateur</mat-label>
      <input type="text"
              matInput
              [formControl]="realisatorName"
              [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onRealisatorSelected($event.option)">
        <mat-option *ngFor="let realisator of filteredRealisators | async" [value]="realisator">
          {{realisator.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button type="submit" mat-fab color="primary">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <div class="infos" *ngIf="searchedRealisator">
    <p>{{searchedRealisator}}</p>
  </div>
</main>